/* app css stylesheet */

body {
    height: 611px;
}
.hd {
    border-radius: 12px;
    .logo {
        border: 1px solid grey;
        border-radius: 12px;
        background-image: url("/assets/img/bg-11-full.jpg");
        img {
            border-top-left-radius: 12px;
        }
    }
    .nav-bar {
        list-style: none;
        background-color: pink;
        li {
            display: inline-block;
            width: 10%;
        }
    }
}
.side-bar, .content {
    display: inline-block;
    vertical-align: top;
}
.side-bar {
    width: 20%;
    .category {
        list-style: none;
        li: first-child {
            font-size: 20px;
            font-weight: bold;
        }
    }
}
.content {
    width: 79%;
    height: 100%;
    background-color: ghostwhite;
}


@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
//blog
@import "partials/blog.scss";

//todolist
@import "partials/todolist.scss";

//exercise
@import "partials/exercise.scss";
@import "partials/mine_sweeper.scss";
