/* app css stylesheet */
body {
	height: 611px;
}

.hd {
	border-radius: 12px;
}

.hd .logo {
    border: 1px solid grey;
    border-radius: 12px;
	background-image: url("/app/img/bg-11-full.jpg");   
}

.hd .logo img {
	border-top-left-radius: 12px;
}

.hd .nav-bar {
    list-style: none;
    background-color: pink;
}
.hd .nav-bar li {
    display: inline-block;
    width: 10%;
}
.side-bar, .content {
    display: inline-block;
    vertical-align: top;
}


.side-bar {
    width: 20%;
}

.side-bar .category {
	list-style: none;
}

.side-bar .category li:first-child {
	font-size: 20px;
	font-weight: bold;
}

.content {
    width: 79%;
    height: 100%;
    background-color: ghostwhite;
}
