.mine-sweeper {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.mine-sweeper .mine-game .box {
    padding: 0px;
    cursor: pointer;
    border: 1px solid grey;
}

.mine-sweeper .mine-game .box button, .mine-sweeper .mine-game .box div {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.mine-sweeper .mine-game .box div {
    text-align: center;
    display: none;
}
