
.gtd-app .task-list {
	width: 100%;
	list-style: none;
	padding-left: 0;
	border: 1px solid black;
	border-bottom: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.gtd-app .task-list .task {
	border-bottom: 1px solid black;
	line-height: 3.4;
}
.gtd-app .task-list .task div {
	display: inline-block;
}

.gtd-app .task-list .task .check-button, .gtd-app .task-list .task .delete-button {
	width: 10%;
	text-align: center;
	cursor:pointer; 
}
.gtd-app .task-list .task .delete-button {
	color: red;
}

.gtd-app .task-list .task .description {
	width: 78%;
}

.gtd-app .task-list .task.completed .check-button, .gtd-app .task-list .task.completed .description {
	color: grey;
}

.gtd-app .task-list .task.completed .description {
	text-decoration: line-through;
}
