.welcome-page .blog-list {
    list-style: none;
}
.welcome-page .blog-list .blog-item {
    margin-bottom: 20px;
}
.welcome-page .blog-list .blog-item .title {
    font-weight: bold;
}
.welcome-page .blog-list .blog-item .title a {
    text-decoration: none;
}
.welcome-page .blog-list .blog-item .time {
    font-style: italic;
    color: grey;
}
