.demo-ng-directive {
	text-align: center;
    .box {
        margin: {
            top: 20px;
            bottom: 10px;
        }
        width: 200px;
        height: 200px;

    }
    .drag-up-down {
        .box {
            cursor: n-resize;
            &:nth-child(1) {
                background-color: #285f6d;
            }
            &:nth-child(2) {
                background-color: #afdfe0;
            }
            &:nth-child(3) {
                background-color: #e2793a;
            }
        }
    }
    .drag-left-right {
        .box {
            cursor: e-resize;
            &:nth-child(1) {
                background-color: #e6d460;
            }
            &:nth-child(2) {
                background-color: #46c4dc;
            }
            &:nth-child(3) {
                background-color: #a8c3a1;
            }
        }
    }

    .sort {
    	list-style: none;
    	.box {
    		height: 100px;
    		cursor: pointer;
    		&:nth-child(1) {
                background-color: #e2793a;
            }
            &:nth-child(2) {
                background-color: #a8c3a1;
            }
            &:nth-child(3) {
                background-color: #afdfe0;
            }
    	}
    }
}
