.demo-ng-directive {
    .box {
        margin: {
            top: 20px;
            bottom: 10px;
        }
        width: 200px;
        height: 200px;
        margin: {
            left: auto;
            right: auto;
        }
        background-color: gainsboro;
        border-bottom: 1px solid grey;
    }
    .left-side {
        .box {
            cursor: n-resize;
            &:nth-child(1) {
                background-color: #285f6d;
            }
            &:nth-child(2) {
                background-color: #afdfe0;
            }
            &:nth-child(3) {
                background-color: #e2793a;
            }
        }
    }
    .right-side {
        .box {
            cursor: e-resize;
            &:nth-child(1) {
                background-color: #e6d460;
            }
            &:nth-child(2) {
                background-color: #46c4dc;
            }
            &:nth-child(3) {
                background-color: #a8c3a1;
            }
        }
    }
}
