.gtd-app .task-list {
    width: 100%;
    list-style: none;
    padding-left: 0;
    border: 1px solid black;
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    .task {
        border-bottom: 1px solid black;
        line-height: 3.4;
        div {
            display: inline-block;
        }
        .check-button, .delete-button {
            width: 10%;
            text-align: center;
            cursor: pointer;
        }
        .delete-button {
            color: red;
        }
        .description {
            width: 78%;
        }
        &.completed {
            .check-button {
                color: grey;
            }
            .description {
                color: grey;
                text-decoration: line-through;
            }
        }
    }
}
